.input-field {
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    position: relative;
}

.input-field input {
    border: none;
    outline: none;
    font-size: 17px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 42px 0 16px;
}


.toggle-password-type {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    z-index: 1;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

.toggle-password-type svg {
    font-size: 18px;
}