.step3-wrapper {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.gender-select {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    font-size: 17px;
}

.gender-select::placeholder {
    color: gray;

}